@import "./footer.css";

html {
  background-color: black;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

.brown-font {
  color: brown;
}
.italic {
  font-style: italic;
}

body {
  background-image: none;
}
img {
  width: 250px;
}
.black-text {
  color: black;
}

@media (min-width: 600px) {
  img {
    width: 500px;
  }
}
